.carouselSection {
  position: relative;
  margin-bottom: 70px;
  & > .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .carouselTitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
  }
}